In [64]:
import pandas as pd

In [65]:
dataset=pd.read_csv("insurance_pre.csv")

In [66]:
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [67]:
dataset=pd.get_dummies(dataset,drop_first=True)

In [68]:
dataset
dataset = dataset.astype(int)

In [69]:
dataset.columns

Index(['age', 'bmi', 'children', 'charges', 'sex_male', 'smoker_yes'], dtype='object')

In [70]:
independent=dataset[['age', 'bmi', 'children','sex_male', 'smoker_yes']]

In [71]:
independent

      age  bmi  children  sex_male  smoker_yes
0      19   27         0         0           1
1      18   33         1         1           0
2      28   33         3         1           0
3      33   22         0         1           0
4      32   28         0         1           0
...   ...  ...       ...       ...         ...
1333   50   30         3         1           0
1334   18   31         0         0           0
1335   18   36         0         0           0
1336   21   25         0         0           0
1337   61   29         0         0           1

[1338 rows x 5 columns]

In [73]:
dependent=dataset[["charges"]]

In [74]:
dependent

      charges
0       16884
1        1725
2        4449
3       21984
4        3866
...       ...
1333    10600
1334     2205
1335     1629
1336     2007
1337    29141

[1338 rows x 1 columns]

In [75]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split( independent, dependent, test_size=0.30,random_state=0)

In [76]:
from sklearn.preprocessing import StandardScaler 
sc=StandardScaler()
x_train =   sc.fit_transform(x_train)
x_test  =   sc.transform(x_test)

In [77]:
x_train

array([[-1.5330973 , -0.36100765, -0.89833872, -0.97676557, -0.50466988],
       [-0.03364163,  0.278355  , -0.89833872, -0.97676557, -0.50466988],
       [ 0.89459283,  2.51612426,  3.25603402, -0.97676557, -0.50466988],
       ...,
       [ 0.03776102, -0.84052963, -0.89833872,  1.02378711, -0.50466988],
       [-1.46169465,  0.75787698, -0.89833872,  1.02378711, -0.50466988],
       [-0.46205754, -1.95941426, -0.06746417, -0.97676557, -0.50466988]])

In [78]:
from sklearn.ensemble import AdaBoostRegressor
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.datasets import make_regression
import numpy as np


X, y = make_regression(n_samples=100, n_features=4, random_state=0)


X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)


base_estimator = LinearRegression()
regr = AdaBoostRegressor(base_estimator=base_estimator, n_estimators=100, random_state=0)


regr.fit(X_train, y_train)


intercepts = [estimator.intercept_ for estimator in regr.estimators_ if hasattr(estimator, 'intercept_')]
print(f"Intercepts of base estimators: {intercepts}")

Intercepts of base estimators: [5.329070518200751e-15, 1.0658141036401503e-14, 7.105427357601002e-15, -8.881784197001252e-15, 7.105427357601002e-15, -8.881784197001252e-15, -1.0658141036401503e-14, 1.7763568394002505e-15, -1.1546319456101628e-14, -1.0658141036401503e-14, -1.6342504606525754e-14, 7.105427357601002e-15, 7.105427357601002e-14, -7.105427357601002e-15, 1.2434497875801753e-14, -1.2656542480726785e-14, 2.1316282072803006e-14, -1.0658141036401503e-14, 2.708944180085382e-14]

C:\anaconda3\Lib\site-packages\sklearn\ensemble\_base.py:166: FutureWarning: `base_estimator` was renamed to `estimator` in version 1.2 and will be removed in 1.4.
  warnings.warn(

In [80]:
AdaBoostRegressor.estimator_

AttributeError: type object 'AdaBoostRegressor' has no attribute 'estimator_'

In [81]:
regressor.n_support_

NameError: name 'regressor' is not defined

In [43]:
regressor.support_

NameError: name 'regressor' is not defined

In [79]:
y_pred=regressor.predict(x_test)

NameError: name 'regressor' is not defined

In [42]:
from sklearn.metrics import r2_score 
r_score=r2_score(y_test,y_pred)

NameError: name 'y_pred' is not defined

In [41]:
r_score

NameError: name 'r_score' is not defined